@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #F9CA24;
  color: white;
  border: 2px solid #F9CA24;
}

.btn:active {
  transform: translateY(2px);
}

.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  position: relative;
  transition: .4s ease;
}

.box {
  width: 125px;
  height: 125px;
  background-image: url("../assets/images/gif.webp");
  background-size: 500px 500px;
  background-repeat: no-repeat;
  position: relative;
  transition: .4s ease;
}

.box::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -15px;
  background-color: #F9CA24;
  width: 15px;
  height: 100%;
  transform: skewY(45deg);
}

.box::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 8px;
  background-color: #F9CA24;
  width: 100%;
  height: 15px;
  transform: skewX(45deg);
  box-shadow: 5px 5px 10px rgba(249, 202, 36, 0.5);
}

.big {
  width: 600px;
  height: 600px;
}

.boxes.big .box {

  transform: rotateZ(360deg);
}